/*
    - Reduces the inconsistencies between browsers by overriding
    the default browser styles.
    - Reset these default settings for all elements
*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Agency FB";
}

:root {
    --primary-color: yellow;
}
body{
    overflow-x: hidden;
}
#portfolio {
    position: absolute;

    text-align: center;
    font-weight: 700;
    font-size: 18px;
    top: 25px;
    left: 25px;
    background-color: var(--primary-color);
    color: black;
    padding: 0px 50px;
    line-height: 3em;
    border-radius: 31px;
    transition: 1s left;
}

#download {
    position: absolute;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    top: 25px;
    right: 25px;
    background-color: white;
    color: black;
    padding: 0px 40px;
    line-height: 3em;
    border-radius: 31px;
    z-index: 1;
}

#about-myself{
    position: absolute;

    text-align: center;
    font-weight: 700;
    font-size: 18px;
    top: 760px;
    left: 25px;
    background-color: black;
    color: white;
    padding: 0px 50px;
    line-height: 3em;
    border-radius: 31px;
    transition: 1s left;
}

#portfolio:hover , #download:hover{
    transition: 1s all;
    cursor: pointer;
    background-color: black;
    color: white;
}

h1 {
    position: absolute;
    left: 184px;
    top: 150px;

    width: 390px;
    height: 240px;

    color: var(--primary-color);
    text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);

    font-size: 90px;
    font-stretch: condensed;
    font-weight: 700;

    line-height: 80px;
    transition: 1s all;

    z-index: 1;
}

p{
    font-size: 40px;
    font-weight: 700;
    color: var(--primary-color);
    margin-left: 30px;
}
ul {
    width: 70%;
}
li{
    display: inline-flex;
    list-style: none;
}


#fingerprint{
    position: absolute;
    right: 5%;
    top: 650px;
    width: 200px;
    height: 200px;
    z-index: 1;
}
#oval {
    position: absolute;
    right: 10%;
    top: 700px;
    width: 200px;
    height: 200px;
    background-color: red;
    opacity: 0.5;
    z-index: -1;
    border-radius: 100%;
    
    animation : flash 1s infinite;
}
@keyframes flash {
    
    100%{
        transform: scale(2);;
    }
}
#logo_pc {
    color: white;
    position: absolute;
    left: 55%;
    top: 25%;
    width: 255px;
    height: 186px;
    z-index: 1;
}

#logo_spring {
    position: absolute;
    left: 80%;
    top: 30%;
    width: 132px;
    height: 132px;
}

#logo_angular {
    position: absolute;
    left: 75%;
    top: 55%;
    width: 132px;
    height: 132px;
    transform: rotate(20.000015deg);
}

#logo_java {
    position: absolute;
    left: 75%;
    top: 6%;
    width: 148px;
    height: 148px;
    transform: rotate(17.000013deg);
}

#dashed-rectangles-wrapper {
    position: absolute;
    left: 34px;
    top: 112px;
    width: 603px;
    height: 515px;
}

.fixed-logo {
    position: absolute;
    /* This hint for me ALSO : url check resources that exist
       on the same stylesheet location - HERE it is css folder */
    background: url('../assets/img/dashed-lines.png') no-repeat;
    background-size: contain;
    background-blend-mode: normal;
}

#rec-1 {
    left: 0px;
    top: 0px;
    width: 148px;
    height: 148px;
}

#rec-2 {
    left: 384px;
    top: 82px;
    width: 132px;
    height: 132px;
}

#rec-3 {
    left: 148px;
    top: 186px;
    width: 124px;
    height: 124px;
}

#rec-4 {
    left: 235px;
    top: 391px;
    width: 124px;
    height: 124px;
}

#rec-5 {
    left: 471px;
    top: 287px;
    width: 132px;
    height: 132px;
}

#rectangles-wrapper{
    position: absolute;
    left: 78px;
    top: 884px;
    width: 75%;
    height: 323.8px;
}

.rectangle-1{
    position: absolute;
    left: 0px;
    top: 0px;
    width: inherit;
    height: inherit;
    border-radius: 56px;
    background: #f8c822;
}
.rectangle-2{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 30px;
    top: 32.8px;
    width: inherit;
    height: inherit;
    border-radius: 56px;
    border: 8px solid #ffffff;
    background: #000000;
}



@media screen and (max-width : 720px) {

    h1 {
        color: white;
        width: 300px;
        height: 200px;
        left: 30%;
        right: 34%;
    }

    #portfolio {
        width: 70%;
        right: 15%;
        left: 15%;
        text-align: left;
        transition: 1s all;
    }
    #download {
        right: 15%;
    }

    #about-myself {
        width: 70%;
        right: 15%;
        left: 15%;
        transition: 1s all;
    }

    #logo_pc,
    #dashed-rectangles-wrapper {
        display: none;
    }

    #logo_spring,
    #logo_java,
    #logo_angular {
        transition: 1s all;
    }

    #logo_java {
        top: 15%;
        left: 10%;
    }

    #logo_spring {
        top: 40%;
        left: 70%;
    }

    #logo_angular {
        top: 65%;
        left: 15%;
    }

    #rectangles-wrapper{
        left: 5%;
        right: 5%;
        width: 90%;
    }

}