.project {
    display: flex;
    width: 55vw;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.9);
    justify-content: center;
    align-items: start;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
}

.project__cover {
    flex: 1;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 18px 0 0 18px;
}

.fuyyr {
    background-image: url("../../assets/img/fuyyr.png");
    background-size: unset;
}

.meeting {
    background-image: url("../../assets/img/meetings.png");
}

.bugs {
    background-image: url("../../assets/img/bugs.png");
}

#projects {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow-y: scroll;
    align-items: center;
    justify-content: start;
}

.project__body {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 2;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: thin;
    scrollbar-color: #a1a1a1 #fff;
    -webkit-overflow-scrolling: touch;
}

.project__content, .project__technologies {
    min-width: 100%;
    padding: 80px;
    flex: 1;
    text-align: left;
    scroll-snap-align: start;
    box-sizing: border-box;
}

/* Project Description */
.project__content p {
    font-size: 1em;
}

/* Github Icon */
.project__content i {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2em;
    cursor: pointer;
}

.project__technologies span {
    display: inline-flex;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    color: white;
    background-color: cadetblue;
}

.scope {
    display: flex;
    gap: 1em;
    position: absolute;
    bottom: 20px;
    right: 40px;
    font-size: 1em;
    cursor: pointer;
    font-weight: 700;
}

.scope span {
    padding: .3em .8em;
    color: white;
    background-color: darkorange;
    border-radius: 50px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}